@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700;900&display=swap");
.header-container,
.hero-container,
.about-container,
.work-container,
.contact-container {
  width: 80%;
  margin: 0 auto;
}

.hero-container,
.about-container,
.work-container,
.contact-container {
  max-width: 1080px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1720px;
}

.title {
  line-height: 1.2;
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
}

* {
  font-family: "Titillium Web", sans-serif;
}

.btn,
.btn-submit {
  cursor: pointer;
  -webkit-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.header-btn {
  background-color: #48cae4;
  color: #0A192F;
  padding: 8px 13px;
  border: none;
  font-weight: 700;
  font-size: 1em;
}

.hero-btn {
  text-transform: uppercase;
  background-color: transparent;
  color: #48cae4;
  padding: 10px 25px;
  font-size: 1em;
  border: none;
  outline: 1px solid #48cae4;
}
.hero-btn:hover {
  background-color: #48cae4;
  color: #0A192F;
}

.btn-submit {
  padding: 1em 2em;
  font-size: 1.1em;
  color: #0A192F;
  background-color: white;
  border: 1px solid rgba(10, 25, 47, 0.2);
}

header {
  background-color: #0A192F;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  padding: 2em 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
@media screen and (min-width: 1000px) {
  header {
    background-color: rgba(10, 25, 47, 0.9);
    padding: 1em 0;
  }
}
header svg {
  width: 50px;
}
header .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-links .link {
  margin-right: 1em;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  header .header-links .link {
    margin-right: 2em;
  }
}

.hero {
  background-image: url("/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .hero {
    text-align: left;
  }
}
.hero .hero-content {
  padding-top: 13em;
}
@media screen and (min-width: 600px) {
  .hero .hero-content {
    padding-top: 20em;
  }
}
@media screen and (min-width: 1000px) {
  .hero .hero-content {
    padding-top: 50%;
    -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
@media screen and (min-width: 600px) {
  .hero .hero-content .hero-title {
    font-size: 2.3em;
  }
}
.hero .hero-content .hero-banner {
  color: #48cae4;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 700;
  margin: -15px 0 0.7em 0;
}
@media screen and (min-width: 600px) {
  .hero .hero-content .hero-banner {
    font-size: 6em;
    margin: -30px 0 0 0;
  }
}
@media screen and (min-width: 1000px) {
  .hero .hero-content .hero-banner {
    font-size: 7em;
    margin: -30px 0 0 0;
  }
}
.hero .hero-content .hero-desc {
  font-size: 1.15em;
  margin-bottom: 2em;
  max-width: 450px;
}
@media screen and (min-width: 600px) {
  .hero .hero-content .hero-desc {
    margin-bottom: 3em;
  }
}
@media screen and (min-width: 1000px) {
  .hero .hero-content .hero-desc {
    margin-bottom: 5em;
  }
}

.about {
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  color: #0A192F;
  text-align: center;
  padding: 4em 0 10em;
}
@media screen and (min-width: 600px) {
  .about {
    text-align: left;
  }
}
@media screen and (min-width: 1000px) {
  .about {
    padding: 5em 0 8em;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }
}
@media screen and (min-width: 1000px) {
  .about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about .about-title {
  margin-bottom: 1rem;
}
.about .skills-subtitle {
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.about .aboutme-group {
  margin-bottom: 4em;
}
@media screen and (min-width: 1000px) {
  .about .aboutme-group {
    margin-right: 6em;
  }
}
.about .aboutme-group .aboutme-desc {
  font-size: 1.1em;
}
@media screen and (min-width: 600px) {
  .about .aboutme-group .aboutme-desc {
    max-width: 390px;
  }
}
.about .frontend-group {
  margin-bottom: 1.7em;
}
.about .skills-group .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .about .skills-group .skills-list {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.about .skills-group .skills-item {
  list-style: none;
  width: 38px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.about .skills-group .skills-item:nth-of-type(3) {
  width: 60px;
}
.about .skills-group .skills-item:nth-of-type(4) {
  width: 43px;
}
.about .skills-group .skills-item:nth-of-type(5) {
  width: 85px;
}
.about .design-group .design-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .about .design-group .design-list {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.about .design-group .design-item {
  list-style: none;
  width: 35px;
  -webkit-transform: scale();
      -ms-transform: scale();
          transform: scale();
}
.about .design-group .design-item:not(:last-of-type) {
  margin-right: 0.8em;
}
.about .design-group .design-item:nth-of-type(4) {
  width: 23px;
}

.work {
  color: #F2F2F2;
  padding: 6em 0;
}
.work .work-title {
  margin-bottom: 4.5em;
  position: relative;
  width: 100%;
  max-width: 480px;
}
@media screen and (min-width: 1000px) {
  .work .work-title {
    max-width: 100%;
  }
}
.work .work-title::before {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #F2F2F2;
  position: absolute;
  bottom: -70%;
}
@media screen and (min-width: 1000px) {
  .work .work-title::before {
    width: 40%;
    bottom: 40%;
    right: 0;
  }
}
.work .spacing > * + * {
  margin-top: 3em;
}
@media screen and (min-width: 1000px) {
  .work .spacing > * + * {
    margin-top: 6em;
  }
}
@media screen and (min-width: 1000px) {
  .work .website-groups .right {
    text-align: right;
  }
}
.work .website-groups .website-group {
  position: relative;
}
@media screen and (min-width: 1000px) {
  .work .website-groups .website-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.work .website-groups .website-group .website-img {
  width: 100%;
  height: 200px;
  background-color: cyan;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0.7em;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media screen and (min-width: 600px) {
  .work .website-groups .website-group .website-img {
    height: 320px;
  }
}
@media screen and (min-width: 1000px) {
  .work .website-groups .website-group .website-img {
    height: 420px;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 0;
  }
}
.work .website-groups .website-group .website-info {
  background-color: #153051;
  padding: 1rem;
  border-radius: 0 0 3px 3px;
}
@media screen and (min-width: 1000px) {
  .work .website-groups .website-group .website-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: transparent;
    width: 40%;
    padding: 3em 0 0 1em;
  }
}
.work .website-groups .website-group .website-info .site-title {
  color: #48cae4;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.3em;
  font-size: 1.1em;
  z-index: 99;
}
@media screen and (min-width: 600px) {
  .work .website-groups .website-group .website-info .site-title {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1000px) {
  .work .website-groups .website-group .website-info .site-title {
    width: 430px;
    font-size: 3em;
    line-height: 1;
    background-color: #153051;
    padding: 0.2em 0.3em 0.2em 0.4em;
  }
}
@media screen and (min-width: 1200px) {
  .work .website-groups .website-group .website-info .site-title {
    font-size: 3.5em;
  }
}
.work .website-groups .website-group .website-info .site-desc {
  margin-bottom: 2em;
  font-size: 1em;
  max-width: 340px;
}
@media screen and (min-width: 600px) {
  .work .website-groups .website-group .website-info .site-desc {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1000px) {
  .work .website-groups .website-group .website-info .site-desc {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 600px) {
  .work .website-groups .website-group .website-info .site-techgroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1000px) {
  .work .website-groups .website-group .website-info .site-techgroup {
    display: initial;
  }
}
.work .website-groups .website-group .website-info .site-techgroup .tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}
@media screen and (min-width: 600px) {
  .work .website-groups .website-group .website-info .site-techgroup .tech-list {
    line-height: 2.1;
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .work .website-groups .website-group .website-info .site-techgroup .tech-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.work .website-groups .website-group .website-info .site-techgroup .tech-list .tech-item {
  list-style: none;
  font-size: 0.8em;
}
.work .website-groups .website-group .website-info .site-techgroup .tech-list .tech-item:not(:last-child) {
  margin-right: 1em;
}
@media screen and (min-width: 1000px) {
  .work .website-groups .website-group .website-info .site-techgroup .links {
    padding: 0.5em 1em;
    background-color: #153051;
  }
}
.work .website-groups .website-group .website-info .site-techgroup .links .link {
  color: #F2F2F2;
  text-decoration: none;
  -webkit-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.work .website-groups .website-group .website-info .site-techgroup .links .link:not(:last-child) {
  margin-right: 1em;
}
.work .website-groups .website-group .website-info .site-techgroup .links .link:hover {
  color: #48cae4;
}

.contact {
  background-color: #fff;
  color: #0A192F;
  padding: 10em 0;
}
@media screen and (min-width: 1000px) {
  .contact .contact-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contact .contact-group .form-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 1000px) {
  .contact .contact-group .form-group {
    padding-right: 2em;
  }
}
@media screen and (min-width: 1000px) {
  .contact .contact-group .form-group .name-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1000px) {
  .contact .contact-group .form-group .name-email .name-group,
.contact .contact-group .form-group .name-email .email-group {
    width: 49%;
  }
}
.contact .contact-group .form-group .contact-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1000px) {
  .contact .contact-group .form-group .contact-title {
    font-size: 2.95em;
  }
}
.contact .contact-group .form-group .contact-desc {
  margin-bottom: 1.5em;
  font-weight: 400;
  max-width: 320px;
}
@media screen and (min-width: 1000px) {
  .contact .contact-group .form-group form {
    max-width: 700px;
  }
}
.contact .contact-group .form-group label,
.contact .contact-group .form-group .contact-desc {
  font-size: 1.1em;
}
.contact .contact-group .form-group label,
.contact .contact-group .form-group input {
  display: block;
}
.contact .contact-group .form-group input,
.contact .contact-group .form-group textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid rgba(10, 25, 47, 0.2);
}
.contact .contact-group .form-group input {
  margin-bottom: 1em;
}
.contact .contact-group .form-group textarea {
  resize: none;
  height: 200px;
  margin-bottom: 2em;
}
.contact .contact-group .contact-logo {
  display: none;
}
@media screen and (min-width: 1000px) {
  .contact .contact-group .contact-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.contact .contact-group .contact-logo svg path {
  fill: #0A192F;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body,
input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #0A192F;
}