.about{

    .about-text{

        width: 80%;
        max-width: 850px;
        margin: 0 auto 5em;
        font-size: 2em;
        text-align: center;


        @include respond(smalldesktop){
            font-size: 1.5em;
            width: 90%;
        }

        @include respond(mobile){
            font-size: 1em;
            width: 90%;
        }

    }

}