.hero{
    // background-color: red;
    background-image: url("/img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    // padding-top: 13em;
    height: 100vh;
    text-align: center;
    
    @include respond(tablet){
        text-align: left;
        // padding-top: 20em;
    }

    .hero-content{

        padding-top: 13em;

        @include respond(tablet){
            padding-top: 20em;
        }

        @include respond(desktop){
            padding-top: 50%;
            transform: translateY(-25%);
        }

        .hero-title{

            @include respond(tablet){
                font-size: 2.3em;
            }
        }

        .hero-banner{
            color: $accent-blue;
            text-transform: uppercase;
            font-size: 3.5em;
            font-weight: $fw-bold;
            // margin-bottom: $hero-banner-margin;
            margin: -15px 0 0.7em 0;
    
            @include respond(tablet){
                font-size: 6em;
                margin: -30px 0 0 0;
            }

            @include respond(desktop){
                font-size: 7em;
                margin: -30px 0 0 0;
            }
        }
    
        .hero-desc{
            font-size: 1.15em;
            margin-bottom: 2em;
            max-width: 450px;

            @include respond(tablet){
                margin-bottom: 3em;
            }

            @include respond(desktop){
                margin-bottom: 5em;
            }
        }

    }

   
}