.work{

    color: $light-grey;
    padding: 10em 0;

    .work-title{ //Here are a couple of things I built
        margin-bottom: 4.5em;
        position: relative;
        width: 100%;
        max-width: 480px;

        @include respond(desktop){
            max-width: 100%;
        }

        &::before{ //Line underneath and to the right of ".work-title" element
            content: "";
            width: 80%;
            height: 1px;
            background-color: $light-grey;
            position: absolute;
            bottom: -70%;

            @include respond(desktop){
                width: 40%;
                bottom: 40%;
                right: 0;
            }
        }
    }

    .spacing > * + * { //This selects all child elements within the "spacing" class and adds a margin top to any sibling that directly follows another sibling

        margin-top: 3em;

        @include respond(desktop){
            margin-top: 6em;
        }
    }

    .website-groups{

        .right{
            @include respond(desktop){
                text-align: right;
            }
        }

        .website-group{

            position: relative;

            @include respond(desktop){
                display: flex;
            }
    
            .website-img{
                width: 100%;
                height: 200px;
                background-color: cyan;
                border-radius: 3px 3px 0 0; //TL TR BR BL
                margin-bottom: 0.7em;
                object-fit: cover;
                display: block;

                
                


                @include respond(tablet){
                    height: 320px;
                }

                @include respond(desktop){
                    height: 420px;
                    border-radius: 3px 3px 3px 3px; //TL TR BR BL
                    margin-bottom: 0;
                }
            }
    
            .website-info{
                background-color: $mid-blue;
                padding: 1rem;
                border-radius: 0 0 3px 3px; //TL TR BR BL

                @include respond(desktop){
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    background-color: transparent;
                    width: 40%;
                    padding: 3em 0 0 1em;
                }
    
                .site-title{ //LEWIS LANDON PHOTOGRAPHY, ARCH STUDIO
                    color: $accent-blue;
                    text-transform: uppercase;
                    font-weight: $fw-bold;
                    margin-bottom: 0.3em;
                    font-size: 1.1em;
                    z-index: 99;

                    @include respond(tablet){
                        font-size: 1.3em;
                    }

                    @include respond(desktop){
                        width: 430px;
                        font-size: 3em;
                        line-height: 1;
                        // height: 200px;
                        background-color: $mid-blue;
                        padding: 0.2em 0.3em 0.2em 0.4em;
                    }

                    @include respond(largedesktop){
                        font-size: 3.5em;
                    }
                }

                .site-desc{ //An elegant multipage websites... 
                    margin-bottom: 2em;
                    font-size: 1em;
                    max-width: 340px;

                    @include respond(tablet){
                        font-size: 1.1em;
                    }

                    @include respond(desktop){
                        margin-bottom: 1em;
                    }
                }

                .site-techgroup{ //Group for the site tech and live site / github code 

                        @include respond(tablet){
                            display: flex;
                            justify-content: space-between;
                        }

                        @include respond(desktop){
                            display: initial;
                        }

                    .tech-list{ //ul - GSAP SCSS JavaScript jQuery

                        display: flex;
                        margin-bottom: 1em;

                        @include respond(tablet){
                            line-height: 2.1;
                            margin: 0;
                        }

                        @include respond(desktop){
                            justify-content: flex-end;
                        }

                        .tech-item{ //li
                            list-style: none;
                            font-size: 0.8em;
                            
                            &:not(:last-child){
                                margin-right: 1em;
                            }
                        }
                    }

                    .links{ //group of the live site and code links   
                    
                        @include respond(desktop){
                            padding: 0.5em 1em;
                            background-color: $mid-blue;
                        }

                        .link{ //Live Demo ... Github Code
                            color: $light-grey;
                            text-decoration: none;
                            transition: color 150ms ease-in-out;

                            &:not(:last-child){
                                margin-right: 1em;
                            }

                            &:hover, &:focus{
                                color: $accent-blue;
                            }
                            
                        }                        
                        
                    }

                }
    
            }
    
        }

    }

}