.btn,
.btn-submit{
    cursor: pointer;
    transition: color 150ms ease-in-out;
}

.header-btn{
    background-color: $accent-blue;
    color: $dark-blue;
    padding: 8px 13px;
    border: none;
    font-weight: $fw-bold;
    font-size: 1em;
}

.hero-btn{
    text-transform: uppercase;
    background-color: transparent;
    color: $accent-blue;
    padding: 10px 25px;
    font-size: 1em;
    border: none;
    outline: 1px solid $accent-blue;

    &:hover{
        background-color: $accent-blue;
        color: $dark-blue;
    }
}

.btn-submit{
    padding: 1em 2em;
    font-size: 1.1em;
    color: $dark-blue;
    background-color: white;
    border: 1px solid rgba($dark-blue, 0.2);
}