.btn{
    cursor: pointer;
}

.header-btn{
    background-color: $accent-blue;
    color: $dark-blue;
    padding: 8px 13px;
    border: none;
    font-weight: $fw-bold;
    font-size: 1em;
}

.hero-btn{
    text-transform: uppercase;
    background-color: transparent;
    color: $accent-blue;
    padding: 10px 25px;
    font-size: 1em;
    border: none;
    outline: 1px solid $accent-blue;

    &:hover{
        background-color: $accent-blue;
        color: $dark-blue;
    }
}

// .contact-btn{

// }