@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700;900&display=swap');

// THIS SECTION IS WHERE YOU WOULD ASSIGN A FONT TO A VARIABLE, SO YOU CAN USE THIS VARIABLE IN "../ABSTRACTS/_TYPOGRAPHY.SCSS
// NOTE: IF YOU ARE USING A FONT FROM GOOGLE FONTS, MAKE SURE YOU PUT THE <LINK> IN THE HEADER ON "INDEX.HTML"

// Below is an example

// Fonts
$ff-main: 'Titillium Web', sans-serif;

// Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

.title{
    line-height: 1.2;
    font-size: 2em;
    font-weight: $fw-bold;
    text-transform: capitalize;
}